body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("../images/background.png");
}

.jumbotron {
    background-color: #005ce6;
    padding: 15px;
}

h1 {
    text-align: center;
    font-weight: bolder;
} 

.panel {
    font-weight: bold;
    font-size: 18px;
}
#randomNumberBox {
    
    background-color: #005ce6;
    color: #fff;
    padding: 30px;
}
#winsLossesBox {
   
    background-color: #005ce6;
    color: #fff;
    padding: 10px;
   
}

.totalScoreArea {
    background-color: #005ce6;
    color: #fff;
    padding: 10px;
}




.crystal-image {
    width:200px;
    padding: 10px;
}